{% extends 'layouts/master.twig' %}
{% block content %}
<div class="account-page">
  <div class="account-inner">
    {% include 'partials/account-sidebar.twig' %}
    <div class="account-main">
      <h1 class="account-title">{{ 'my_orders' | trans }}</h1>
      <salla-orders></salla-orders>
    </div>
  </div>
</div>
{% endblock %}
