{% extends 'layouts/master.twig' %}
{% block content %}
<div class="account-page">
  <div class="account-inner">
    {% include 'partials/account-sidebar.twig' %}
    <div class="account-main">
      <h1 class="account-title">{{ 'order' | trans }} #{{ order.reference_id }}</h1>
      <salla-order-details order-id="{{ order.id }}"></salla-order-details>
    </div>
  </div>
</div>
{% endblock %}
