<div class="comment-item">
  <div class="comment-author">
    <div class="author-avatar">{{ comment.author | first }}</div>
    <div>
      <span class="author-name">{{ comment.author }}</span>
      <span class="comment-date">{{ comment.created_at | date("d M Y") }}</span>
    </div>
  </div>
  <p class="comment-text">{{ comment.content }}</p>
</div>
