{% extends 'layouts/master.twig' %}
{% block content %}
<div class="account-page">
  <div class="account-inner">
    {% include 'partials/account-sidebar.twig' %}
    <div class="account-main">
      <h1 class="account-title">{{ 'notifications' | trans }}</h1>
      <salla-notifications></salla-notifications>
    </div>
  </div>
</div>
{% endblock %}
