{% extends 'layouts/master.twig' %}
{% block content %}
<div class="page-hero">
  <div class="page-hero-inner">
    {% if brand.logo %}
      <img src="{{ brand.logo }}" alt="{{ brand.name }}" class="brand-hero-logo">
    {% endif %}
    <h1 class="section-title">{{ brand.name }}</h1>
  </div>
</div>
<div class="section">
  <div class="products-grid">
    {% for product in brand.products.data %}
      {% include 'product/card.twig' with { product: product } %}
    {% endfor %}
  </div>
</div>
{% endblock %}
